/* Importar fuente*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
/* Importar fuente*/

/* Variables de Colores */
:root{
    --orange-etb: #F36F31;
    --bgray-etb: #d8dde6;
    --b3gray-etb: #E4E8F0;
    --gray-etb: #f4f6f9;
    --withe-etb: #fff;
    --bblue-etb: #214780;
    --fblue-etb: #14C1EA;
    --pblue-etb: #54698d;
    --black-etb: #333333;
    --b2gray-etb: #969492;
}
/* Variables de Colores */

/* Reiniciar el CSS */
*{ 
 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
 
}
/* Reiniciar el CSS */

/* Generalidades del Cuerpo */
body{
 
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
 
}

button{
    border: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 600;
    cursor: pointer;
    width: 75px;
    height: 77px;
}
/* Generalidades del Cuerpo */

/* CSS del Login */
.container-login{
    background-image: url('../images/background/bc_login.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 959px;
}

.login{
    background-color: var(--withe-etb);
    height: 756px;
    width: 1536px;
    border-radius: 15px;
    position: relative;
    left: 190px;
    top: 90px;
    z-index: 1;
}

.l-login{
    position: relative;
    right: 310px;
    top: 65px;
}

.l-login h1{
    font-size: 48px;
    text-align: center;
    font-weight: 900;
}

.l-login img{
    width: 45px;
    height: 45px;
    position: relative;
    left: 585px;
    top: 115px;
    z-index: 1;
}

.l-login input{
    background-color: var(--b3gray-etb);
    position: relative;
    left: 520px;
    top: 100px;
    border: none;
    width: 390px;
    height: 70px;
    margin-bottom: 25px;
    padding-left: 75px;
    padding-top: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    color: var(--black-etb);
}

.buttons-act{
    position: relative;
    left: 665px;
    top: 200px;
}

.act{
    border: 3px solid var(--bblue-etb);
    border-radius: 45px;
    background-color: var(--withe-etb);
    color: var(--bblue-etb);
    font-size: 24px;
    font-weight: 900;
    width: 200px;
    height: 80px;
    cursor: pointer;
}

.r-login{
    position: absolute;
    border-radius: 0 12px 12px 0;
    right: 0;
    top: 0;
    background-color: var(--bblue-etb);
    width: 614px;
    height: 756px;
    color: var(--withe-etb);
}

.r-login h1{
    font-size: 64px;
    font-weight: 900;
}

.well{
    text-align: center;
    margin: 195px 0 0 20px;
}

.well p{
    margin-top: 30px;
}

.l-login2{
    position: absolute;
    border-radius: 12px 0 0 12px;
    right: 0;
    left: 0;
    background-color: var(--bblue-etb);
    width: 614px;
    height: 756px;
    color: var(--withe-etb);
}

.l-login2 h1{
    font-size: 64px;
    font-weight: 900;
}

.r-login2{
    position: relative;
    left: 310px;
    top: 35px;
}

.r-login2 h1{
    font-size: 48px;
    text-align: center;
    font-weight: 900;
}

.r-login2 img{
    width: 45px;
    height: 45px;
    position: relative;
    left: 585px;
    top: 65px;
    z-index: 1;
}

.r-login2 input{
    background-color: var(--b3gray-etb);
    position: relative;
    left: 520px;
    top: 50px;
    border: none;
    width: 390px;
    height: 70px;
    margin-bottom: 25px;
    padding-left: 75px;
    padding-top: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    color: var(--black-etb);
}

.buttons-act2{
    position: relative;
    left: 665px;
    top: 70px;
}

.act-2{
    border: 3px solid var(--withe-etb);
    border-radius: 45px;
    background-color: var(--bblue-etb);
    color: var(--withe-etb);
    font-size: 24px;
    font-weight: 900;
    width: 240px;
    height: 80px;
    cursor: pointer;
    margin-top: 55px;
    position: relative;
    z-index: 1;
}

.backdrop {
    position: fixed; /* Se mantiene fijo en pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurecimiento con transparencia */
    z-index: 0; /* Se coloca detrás del modal */
}
/* CSS del Login */

/* Responsive del Programa */

/* Ajuste para pantallas de tamaño mediano */
@media screen and (max-width: 1919px) {

}
/* Responsive del Programa */