/* Importar fuente*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
/* Importar fuente*/

/* Variables de Colores */
:root{
    --orange-etb: #F36F31;
    --bgray-etb: #d8dde6;
    --b3gray-etb: #E4E8F0;
    --gray-etb: #f4f6f9;
    --withe-etb: #fff;
    --bblue-etb: #214780;
    --fblue-etb: #14C1EA;
    --pblue-etb: #54698d;
    --black-etb: #333333;
    --b2gray-etb: #969492;
}
/* Variables de Colores */

/* Reiniciar el CSS */
*{ 
 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
 
}
/* Reiniciar el CSS */

/* Generalidades del Cuerpo */
body{
 
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
 
}

button{
    border: 2px solid var(--withe-etb);
    border-radius: 12px;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    width: 95px;
    height: 47px;
    color: var(--withe-etb);
}
/* Generalidades del Cuerpo */

/* CSS de la Calculadora */
.calculator{
    background-color: var(--bblue-etb);
    height: 953px;
    width: 1220px;
    position: absolute;
    top: 0;
}
.calculator h3{
    font-size: 52px;
    font-weight: bold;
    margin: 15px 0 0 350px;
    color: var(--withe-etb);
}
.inc, .ret, .re{
    display: flex;
    margin: 150px 0;
}  
.inc img, .ret img, .re img{
    height: 45px;
    width: 45px;
    position: relative;
    left: 50px;
} 
.inc p{
    color: var(--withe-etb);
    font-size: 22px;
    margin-left: 60px;
}
.inc span{
    font-weight: 900;
}
.ret p{
    color: var(--withe-etb);
    font-size: 22px;
    margin-left: 60px;
}
.ret span{
    font-weight: 900;
}
.re p{
    color: var(--withe-etb);
    font-size: 22px;
    margin-left: 60px;
}
.re span{
    font-weight: 900;
}
.calculator select{
    border: none;
    height: 30px;
    width: 220px;
    text-align: center;
}
.calculator input{
    border: none;
    height: 30px;
    width: 100px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.lis {
    background-color: var(--withe-etb);
    color: var(--orange-etb);
    font-size: 16px;
    font-weight: 600;
    position: relative;
    left: 405px;
    bottom: 40px;
    width: 200px;
    max-height: 110px; /* Establecer una altura máxima */
    overflow-y: auto;  /* Permitir el desplazamiento vertical */
    overflow-x: hidden; /* Desactivar el desplazamiento horizontal */
}
.lis2{
    background-color: var(--withe-etb);
    color: var(--orange-etb);
    font-size: 14px;
    font-weight: 600;
    position: relative;
    left: 335px;
    bottom: 40px;
    width: 200px;
    max-height: 110px; /* Establecer una altura máxima */
    overflow-y: auto;  /* Permitir el desplazamiento vertical */
    overflow-x: hidden; /* Desactivar el desplazamiento horizontal */
}
#election, #election2{
    position: relative;
    left: 660px;
    bottom: 70px;
    font-family: 'Poppins', sans-serif;
}
#election3{
    position: relative;
    right: 75px;
    width: 140px;
    font-size: 18px;
    color: var(--orange-etb);
    font-family: 'Poppins', sans-serif;
}
#add, #add2{
    position: relative;
    left: 435px;
}
#add3{
    position: relative;
    top: 45px;
    left: 65px;
    width: 140px;
}
#earn_Inc, #earn_Ret, #earn_Re{
    color: var(--orange-etb);
}
.exit_Session{
    position: relative;
    z-index: 1;
    bottom: 100px;
    left: 1005px;
}
#exitb{
    width: 200px;
    background-color: var(--orange-etb);
}
/* CSS de la Calculadora */ 

/* CSS del Tarifario */
.fee{
    position: absolute;
    background-color: var(--orange-etb);
    height: 100%;
    width: 700px;
    right: 0;
    top: 0;
    color: var(--withe-etb);
}

.fee h3{
    font-size: 52px;
    font-weight: bold;
    margin: 15px 0 0 0;
    text-align: center;
}

.fee a{
    font-size: 26px;
    position: absolute;
    bottom: 0;
    margin: 0 0 10px 190px;
    color: var(--withe-etb);
}

.tble-inc {
    width: 100%;
    border-collapse: collapse;
    font-size: 22px;
    margin-top: 45px;
}

th, td {
    border: 1px solid transparent;
    padding: 8px;
    text-align: center;
}

#tble-tt{
    width: 300px;
}

#ret{
    margin-top: 70px;
}

.tble-inc2{
    width: 100%;
    border-collapse: collapse;
    font-size: 22px;
    margin-top: 45px;
}

span{
    font-weight: 600;
}

#tble-tt{
    width: 300px;
}

#tble-tt2{
    width: 400px;
}
/* CSS del Tarifario */

/* Responsive del Programa */

/* Ajuste para pantallas de tamaño mediano */
@media screen and (max-width: 1919px) {
    .fee {
        transform: translateX(-100px); /* Desplaza el área de tarifa a la izquierda */
    }
    
    .calculator {
        transform: translateX(-150px); /* Ajuste adicional para el contenedor de la calculadora */
        margin-right: 4cqw; /* Añade un margen izquierdo para crear espacio */
    }
}

/* Responsive del Programa */