<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/flaticon/simbols.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <title>Calculator ETB</title>
</head>
<body>
    <div class="container">

        <div class="fee">

            <h3>INCENTIVOS ETB</h3>

            <table class="tble-inc">
                <tr>
                    <th id="tble-tt">Clasificación</th>
                    <th>Producto</th>
                    <th>Comisión</th>
                </tr>

                <tbody>
                    <tr>
                        <td>LT DUO TRIO</td>
                        <td>FTTH</td>
                        <td>$ 7.000</td>
                    </tr>

                    <tr>
                        <td>UP GRANDES Y SVA</td>
                        <td>SVA</td>
                        <td>$ 700</td>
                    </tr>

                    <tr>
                        <td>UP GRANDES Y SVA</td>
                        <td>DGO</td>
                        <td>$ 500</td>
                    </tr>

                    <tr>
                        <td>MOVILES</td>
                        <td>POSPAGO</td>
                        <td>$ 30.000</td>
                    </tr>

                    <tr>
                        <td>MOVILES</td>
                        <td>DGO</td>
                        <td>$ 400</td>
                    </tr>
                </tbody>
            </table>

            <h3 id="ret">RETENCIONES</h3>

            <table class="tble-inc2">
                <tr>
                    <th id="tble-tt2">Cantidad</th>
                    <th>Comisión</th>
                </tr>

                <tbody>
                    <tr>
                        <td>1 a 90 <span>EFECTIVAS</span></td>
                        <td>$ 500</td>
                    </tr>

                    <tr>
                        <td>91 a 145 <span>EFECTIVAS</span></td>
                        <td>$ 3.000</td>
                    </tr>

                    <tr>
                        <td>146 <span>EN ADELANTE EFECTIVAS</span></td>
                        <td>$ 5.000</td>
                    </tr>
                </tbody>
            </table>

            <a href="Model/documents/manCalculator.pdf" target="_blank">¿Como usar la calculadora?</a>

        </div>

        <div class="calculator">

            <h3>CALCULADORA ETB</h3>

            <div>

                <img src="" alt="">

                <p>Agrega aqui tu mas reciente <span>INCENTIVO ETB</span></p>
                <select name="" id="">
                    <option value=""></option>
                </select>

                <div>
                    <ul>
                        <li><input type="text"></li>
                    </ul>
                </div>

            </div>

            <div>
                <img src="" alt="">

                <p>Agrega aqui tu mas reciente <span>RETENCION EFECTIVA</span></p>
                <select name="" id="">
                    <option value=""></option>
                </select>

                <div>
                    <ul>
                        <li><input type="text"></li>
                    </ul>
                </div>
            </div>

            <div>
                <span>AQUI ESTA EL TOTAL DE INCENTIVOS Y RETENCIONES: <input type="text"></span>
            </div>

        </div>

    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../../Controller/numbers_Input.js"></script>
<script src="../../Controller/basic_Operations.js"></script>
</body>
</html>